#block8 {
  display: flex;
  padding: 60px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#block8-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block8-top {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;

  text-align: center;
}

.block8-top::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.block8-top::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.block8-middle {
  text-align: center;
  color: #444444;
  line-height: 1.5;
  margin-bottom: 30px;
}

.block8-container {
  width: min(100%, 1320px);
  padding: 0 12px;
  margin: auto;
  text-align: center;
}

#block8-button1,
#block8-button2,
#block8-button3,
#block8-button4 {
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1;
  padding: 8px 20px;
  margin: 10px 5px;
}

#block8-button1 {
  font-weight: 500;
  line-height: 1;
  font-size: 15px;
  background: #47b2e4;
  color: #fff;
  transition: 0.4s;
}

#block8-button2,
#block8-button3,
#block8-button4 {
  background: #fff;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: 0.4s;
}
#block8-button2:hover,
#block8-button3:hover,
#block8-button4:hover {
  background: #47b2e4;
  color: #fff;
}

.block8-nav-image-text {
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  left: 15px;

  width: 100%;
  height: 62.59px;

  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);

  opacity: 0;
  transition: 0.3s;

  gap: 7px;
  display: flex;
  flex-direction: column;
}

.block8-nav-image-text > h1 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-align: start;
}

.block8-nav-image-text > p {
  color: #f9fcfe;
  font-size: 14px;
  text-align: start;
}
.block8-nav-image-text > div {
  position: absolute;
  right: 24px;
  top: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.block8-nav-image-text > div > svg {
  fill: white;
}

.block8-nav-image-text > div > svg:hover {
  fill: #47b2e4;
}

#block8-nav-images {
  margin-top: 20px;
  height: 1267.11px;
  text-align: center;
  justify-content: center;

  position: relative;
  transition: 0.3s;
}

.block8-nav-image {
  width: 416px;
  transition: 0.3s;
  padding: 0 12px;
  margin: 0 0 30px;

  position: relative;
  overflow: hidden;
}

.block8-nav-image > img {
  transition: 0.6s;
}

.block8-nav-image:hover > img {
  transform: scale(110%);
}

.block8-nav-image:hover > div {
  opacity: 80;
}

#block8-img-1 {
  position: absolute;
  top: 0;
  left: 0px;
}
#block8-img-2 {
  position: absolute;
  top: 0;
  left: 428px;
}
#block8-img-3 {
  position: absolute;
  top: 0;
  left: 856px;
}
#block8-img-4 {
  position: absolute;
  top: 264px;
  left: 856px;
}
#block8-img-5 {
  position: absolute;
  top: 308.92px;
  left: 428px;
}
#block8-img-6 {
  position: absolute;
  top: 451.7px;
  left: 0px;
}
#block8-img-7 {
  position: absolute;
  top: 569.08px;
  left: 856px;
}
#block8-img-8 {
  position: absolute;
  top: 869.11px;
  left: 856px;
}

#block8-img-9 {
  position: absolute;
  top: 960.76px;
  left: 428px;
}

.img-fluid {
  width: 416px;
  height: auto;
}

/*버튼 클릭시 효과*/
/* -----Apps 버튼 클릭시 효과 ---------*/
.block8-container:has(#block8-button2:target) #block8-button1 {
  background: #fff;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
}

.block8-container:has(#block8-button2:target) #block8-button2 {
  font-weight: 500;
  line-height: 1;
  font-size: 15px;
  background: #47b2e4;
  color: #fff;
  transition: 0.4s;
}

.block8-container:has(#block8-button2:target) #block8-nav-images {
  height: 648.59px;
}
.block8-container:has(#block8-button2:target) #block8-img-2 {
  transform: scale(0);
}
.block8-container:has(#block8-button2:target) #block8-img-3 {
  transform: translateX(-428px);
}
.block8-container:has(#block8-button2:target) #block8-img-4 {
  transform: scale(0);
}
.block8-container:has(#block8-button2:target) #block8-img-5 {
  transform: scale(0);
}
.block8-container:has(#block8-button2:target) #block8-img-6 {
  transform: translate(856px, -451.7px);
}
.block8-container:has(#block8-button2:target) #block8-img-7 {
  transform: scale(0);
}
.block8-container:has(#block8-button2:target) #block8-img-8 {
  transform: scale(0);
}
.block8-container:has(#block8-button2:target) #block8-img-9 {
  transform: scale(0);
}

/*------Cards 버튼 클릭시 효과-------*/
.block8-container:has(#block8-button3:target) #block8-button1 {
  background: #fff;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
}
.block8-container:has(#block8-button3:target) #block8-button3 {
  font-weight: 500;
  line-height: 1;
  font-size: 15px;
  background: #47b2e4;
  color: #fff;
  transition: 0.4s;
}

.block8-container:has(#block8-button3:target) #block8-nav-images {
  height: 307.14px;
}
.block8-container:has(#block8-button3:target) #block8-img-1 {
  transform: scale(0);
}
.block8-container:has(#block8-button3:target) #block8-img-2 {
  transform: scale(0);
}
.block8-container:has(#block8-button3:target) #block8-img-3 {
  transform: scale(0);
}
.block8-container:has(#block8-button3:target) #block8-img-4 {
  transform: translate(-856px, -264px);
}
.block8-container:has(#block8-button3:target) #block8-img-5 {
  transform: scale(0);
}
.block8-container:has(#block8-button3:target) #block8-img-6 {
  transform: scale(0);
}
.block8-container:has(#block8-button3:target) #block8-img-7 {
  transform: translate(-428px, -569.08px);
}
.block8-container:has(#block8-button3:target) #block8-img-8 {
  transform: translateY(-869.11px);
}
.block8-container:has(#block8-button3:target) #block8-img-9 {
  transform: scale(0);
}

/*------Web 버튼 클릭시 효과-------*/
.block8-container:has(#block8-button4:target) #block8-button1 {
  background: #fff;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
}

.block8-container:has(#block8-button3:target) #block8-button3 {
  font-weight: 500;
  line-height: 1;
  font-size: 15px;
  background: #47b2e4;
  color: #fff;
  transition: 0.4s;
}

.block8-container:has(#block8-button4:target) #block8-nav-images {
  height: 651.84px;
}
.block8-container:has(#block8-button4:target) #block8-img-1 {
  transform: scale(0);
}
.block8-container:has(#block8-button4:target) #block8-img-2 {
  transform: translateX(-428px);
}
.block8-container:has(#block8-button4:target) #block8-img-3 {
  transform: scale(0);
}
.block8-container:has(#block8-button4:target) #block8-img-4 {
  transform: scale(0);
}
.block8-container:has(#block8-button4:target) #block8-img-5 {
  transform: translateY(-308.92px);
}
.block8-container:has(#block8-button4:target) #block8-img-6 {
  transform: scale(0);
}
.block8-container:has(#block8-button4:target) #block8-img-7 {
  transform: scale(0);
}
.block8-container:has(#block8-button4:target) #block8-img-8 {
  transform: scale(0);
}
.block8-container:has(#block8-button4:target) #block8-img-9 {
  transform: translate(428px, -960.76px);
}

/*반응형 */
/*-------------------------3줄-------------------------*/
/*-----------------------------------------------1차--------------------------------------------*/
@media screen and (max-width: 1399px) and (min-width: 1200px) {
  .block8-nav-image {
    width: 356px;
  }
  .img-fluid {
    width: 356px;
    height: auto;
  }
  #block8-img-1 {
    position: absolute;
    top: 0;
    left: 0px;
  }
  #block8-img-2 {
    position: absolute;
    top: 0;
    left: 368px;
  }
  #block8-img-3 {
    position: absolute;
    top: 0;
    left: 736px;
  }
  #block8-img-4 {
    position: absolute;
    top: 230.25px;
    left: 736px;
  }
  #block8-img-5 {
    position: absolute;
    top: 268.69px;
    left: 368px;
  }
  #block8-img-6 {
    position: absolute;
    top: 392.89px;
    left: 0px;
  }
  #block8-img-7 {
    position: absolute;
    top: 495.64px;
    left: 736px;
  }
  #block8-img-8 {
    position: absolute;
    top: 756.72px;
    left: 736px;
  }

  #block8-img-9 {
    position: absolute;
    top: 830.85px;
    left: 368px;
  }

  /*버튼 클릭시 효과*/
  /* -----Apps 버튼 클릭시 효과 ---------*/

  .block8-container:has(#block8-button2:target) #block8-nav-images {
    height: 648.59px;
  }
  .block8-container:has(#block8-button2:target) #block8-img-2 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button2:target) #block8-img-3 {
    transform: translateX(-368px);
  }
  .block8-container:has(#block8-button2:target) #block8-img-4 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button2:target) #block8-img-5 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button2:target) #block8-img-6 {
    transform: translate(736px, -392.89px);
  }
  .block8-container:has(#block8-button2:target) #block8-img-7 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button2:target) #block8-img-8 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button2:target) #block8-img-9 {
    transform: scale(0);
  }

  /*------Cards 버튼 클릭시 효과-------*/
  .block8-container:has(#block8-button3:target) #block8-nav-images {
    height: 307.14px;
  }
  .block8-container:has(#block8-button3:target) #block8-img-1 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button3:target) #block8-img-2 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button3:target) #block8-img-3 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button3:target) #block8-img-4 {
    transform: translate(-736px, -230.25px);
  }
  .block8-container:has(#block8-button3:target) #block8-img-5 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button3:target) #block8-img-6 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button3:target) #block8-img-7 {
    transform: translate(-368px, -495.64px);
  }
  .block8-container:has(#block8-button3:target) #block8-img-8 {
    transform: translateY(-756.72px);
  }
  .block8-container:has(#block8-button3:target) #block8-img-9 {
    transform: scale(0);
  }

  /*------Web 버튼 클릭시 효과-------*/
  .block8-container:has(#block8-button4:target) #block8-nav-images {
    height: 651.84px;
  }
  .block8-container:has(#block8-button4:target) #block8-img-1 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button4:target) #block8-img-2 {
    transform: translateX(-368px);
  }
  .block8-container:has(#block8-button4:target) #block8-img-3 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button4:target) #block8-img-4 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button4:target) #block8-img-5 {
    transform: translateY(-268.69px);
  }
  .block8-container:has(#block8-button4:target) #block8-img-6 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button4:target) #block8-img-7 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button4:target) #block8-img-8 {
    transform: scale(0);
  }
  .block8-container:has(#block8-button4:target) #block8-img-9 {
    transform: translate(368px, -830.85px);
  }
}

/*-----------------------------------------------2차--------------------------------------------*/
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .block8-nav-image {
    width: 296px;
  }
  .img-fluid {
    width: 296px;
    height: auto;
  }
  #block8-img-1 {
    position: absolute;
    top: 0;
    left: 0px;
  }
  #block8-img-2 {
    position: absolute;
    top: 0;
    left: 428px;
  }
  #block8-img-3 {
    position: absolute;
    top: 0;
    left: 856px;
  }
  #block8-img-4 {
    position: absolute;
    top: 264px;
    left: 856px;
  }
  #block8-img-5 {
    position: absolute;
    top: 308.92px;
    left: 428px;
  }
  #block8-img-6 {
    position: absolute;
    top: 451.7px;
    left: 0px;
  }
  #block8-img-7 {
    position: absolute;
    top: 569.08px;
    left: 856px;
  }
  #block8-img-8 {
    position: absolute;
    top: 869.11px;
    left: 856px;
  }

  #block8-img-9 {
    position: absolute;
    top: 960.76px;
    left: 428px;
  }

  .img-fluid {
    width: 416px;
    height: auto;
  }

  /*버튼 클릭시 효과*/
  /* -----Apps 버튼 클릭시 효과 ---------*/

  .block8-container:has(.block8-button2:active) #block8-nav-images {
    height: 648.59px;
  }
  .block8-container:has(.block8-button2:active) #block8-img-2 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-3 {
    transform: translateX(-428px);
  }
  .block8-container:has(.block8-button2:active) #block8-img-4 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-5 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-6 {
    transform: translate(856px, -451.7px);
  }
  .block8-container:has(.block8-button2:active) #block8-img-7 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-8 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-9 {
    transform: scale(0);
  }

  /*------Cards 버튼 클릭시 효과-------*/
  .block8-container:has(.block8-button3:active) #block8-nav-images {
    height: 307.14px;
  }
  .block8-container:has(.block8-button3:active) #block8-img-1 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-2 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-3 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-4 {
    transform: translate(-856px, -264px);
  }
  .block8-container:has(.block8-button3:active) #block8-img-5 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-6 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-7 {
    transform: translate(-428px, -569.08px);
  }
  .block8-container:has(.block8-button3:active) #block8-img-8 {
    transform: translateY(-869.11px);
  }
  .block8-container:has(.block8-button3:active) #block8-img-9 {
    transform: scale(0);
  }

  /*------Web 버튼 클릭시 효과-------*/
  .block8-container:has(.block8-button4:active) #block8-nav-images {
    height: 651.84px;
  }
  .block8-container:has(.block8-button4:active) #block8-img-1 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-2 {
    transform: translateX(-428px);
  }
  .block8-container:has(.block8-button4:active) #block8-img-3 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-4 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-5 {
    transform: translateY(-308.92px);
  }
  .block8-container:has(.block8-button4:active) #block8-img-6 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-7 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-8 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-9 {
    transform: translate(428px, -960.76px);
  }
}

/*----------------------2줄--------------------------*/
@media screen and (max-width: 991px) and (min-width: 768px) {
  #block8-img-1 {
    position: absolute;
    top: 0;
    left: 0px;
  }
  #block8-img-2 {
    position: absolute;
    top: 0;
    left: 428px;
  }
  #block8-img-3 {
    position: absolute;
    top: 0;
    left: 856px;
  }
  #block8-img-4 {
    position: absolute;
    top: 264px;
    left: 856px;
  }
  #block8-img-5 {
    position: absolute;
    top: 308.92px;
    left: 428px;
  }
  #block8-img-6 {
    position: absolute;
    top: 451.7px;
    left: 0px;
  }
  #block8-img-7 {
    position: absolute;
    top: 569.08px;
    left: 856px;
  }
  #block8-img-8 {
    position: absolute;
    top: 869.11px;
    left: 856px;
  }

  #block8-img-9 {
    position: absolute;
    top: 960.76px;
    left: 428px;
  }

  .img-fluid {
    width: 416px;
    height: auto;
  }

  /*버튼 클릭시 효과*/
  /* -----Apps 버튼 클릭시 효과 ---------*/

  .block8-container:has(.block8-button2:active) #block8-nav-images {
    height: 648.59px;
  }
  .block8-container:has(.block8-button2:active) #block8-img-2 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-3 {
    transform: translateX(-428px);
  }
  .block8-container:has(.block8-button2:active) #block8-img-4 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-5 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-6 {
    transform: translate(856px, -451.7px);
  }
  .block8-container:has(.block8-button2:active) #block8-img-7 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-8 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-9 {
    transform: scale(0);
  }

  /*------Cards 버튼 클릭시 효과-------*/
  .block8-container:has(.block8-button3:active) #block8-nav-images {
    height: 307.14px;
  }
  .block8-container:has(.block8-button3:active) #block8-img-1 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-2 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-3 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-4 {
    transform: translate(-856px, -264px);
  }
  .block8-container:has(.block8-button3:active) #block8-img-5 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-6 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-7 {
    transform: translate(-428px, -569.08px);
  }
  .block8-container:has(.block8-button3:active) #block8-img-8 {
    transform: translateY(-869.11px);
  }
  .block8-container:has(.block8-button3:active) #block8-img-9 {
    transform: scale(0);
  }

  /*------Web 버튼 클릭시 효과-------*/
  .block8-container:has(.block8-button4:active) #block8-nav-images {
    height: 651.84px;
  }
  .block8-container:has(.block8-button4:active) #block8-img-1 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-2 {
    transform: translateX(-428px);
  }
  .block8-container:has(.block8-button4:active) #block8-img-3 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-4 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-5 {
    transform: translateY(-308.92px);
  }
  .block8-container:has(.block8-button4:active) #block8-img-6 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-7 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-8 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-9 {
    transform: translate(428px, -960.76px);
  }
}

/*----------------------1줄--------------------------*/
@media screen and (max-width: 767px) {
  .block8-nav-image {
    width: 516px;
  }
  .img-fluid {
    width: 516px;
    height: auto;
  }
  #block8-img-1 {
    position: absolute;
    top: 0;
  }
  #block8-img-2 {
    position: absolute;
    top: 0;
  }
  #block8-img-3 {
    position: absolute;
    top: 0;
  }
  #block8-img-4 {
    position: absolute;
    top: 264px;
  }
  #block8-img-5 {
    position: absolute;
    top: 308.92px;
  }
  #block8-img-6 {
    position: absolute;
    top: 451.7px;
  }
  #block8-img-7 {
    position: absolute;
    top: 569.08px;
  }
  #block8-img-8 {
    position: absolute;
    top: 869.11px;
  }

  #block8-img-9 {
    position: absolute;
    top: 960.76px;
  }

  .img-fluid {
    width: 416px;
    height: auto;
  }

  /*버튼 클릭시 효과*/
  /* -----Apps 버튼 클릭시 효과 ---------*/

  .block8-container:has(.block8-button2:active) #block8-nav-images {
    height: 648.59px;
  }
  .block8-container:has(.block8-button2:active) #block8-img-2 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-3 {
    transform: translateX(-428px);
  }
  .block8-container:has(.block8-button2:active) #block8-img-4 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-5 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-6 {
    transform: translate(856px, -451.7px);
  }
  .block8-container:has(.block8-button2:active) #block8-img-7 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-8 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button2:active) #block8-img-9 {
    transform: scale(0);
  }

  /*------Cards 버튼 클릭시 효과-------*/
  .block8-container:has(.block8-button3:active) #block8-nav-images {
    height: 307.14px;
  }
  .block8-container:has(.block8-button3:active) #block8-img-1 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-2 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-3 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-4 {
    transform: translate(-856px, -264px);
  }
  .block8-container:has(.block8-button3:active) #block8-img-5 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-6 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button3:active) #block8-img-7 {
    transform: translate(-428px, -569.08px);
  }
  .block8-container:has(.block8-button3:active) #block8-img-8 {
    transform: translateY(-869.11px);
  }
  .block8-container:has(.block8-button3:active) #block8-img-9 {
    transform: scale(0);
  }

  /*------Web 버튼 클릭시 효과-------*/
  .block8-container:has(.block8-button4:active) #block8-nav-images {
    height: 651.84px;
  }
  .block8-container:has(.block8-button4:active) #block8-img-1 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-2 {
    transform: translateX(-428px);
  }
  .block8-container:has(.block8-button4:active) #block8-img-3 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-4 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-5 {
    transform: translateY(-308.92px);
  }
  .block8-container:has(.block8-button4:active) #block8-img-6 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-7 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-8 {
    transform: scale(0);
  }
  .block8-container:has(.block8-button4:active) #block8-img-9 {
    transform: translate(428px, -960.76px);
  }
}

/*애니메이션 */
@keyframes Apps-tea {
  from {
    top: 0;
    left: 440px;
  }
  to {
    top: 0px;
    left: 880px;
  }
}
