#block1_section {
    height: 80vh;
    background-color: #37517e;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}
.block1_container { 
    display: flex;
    width: min(100%, 1400px); 
}
.block1_container > div {
    margin: 30px;
}
.block1_container_text h1 {
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 30%;
}
.block1_container_text h2 {
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 24px;
}
.block1_container_text > div{
    justify-content: center;
    align-items: center;
}
.block1_container_img img {
    width: 630px;
    height: 530px;
}
.block1_href {
    display: flex;
    color: white;
}
.block1_href a:nth-child(1) {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
    text-decoration-line: none;
}
.block1_href a:nth-child(1):hover {
    background-color: #209dd8;
    transition: 0.5s;
}
.block1_href_watch {
    color: #fff;
    font-size: 20px;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    margin-top: 9px;
}
.block1_href i::before{
    display: flex;
    font-size: 32px;
    margin-right: 5px;
}
.block1_href_watch:hover i::before{
    color: #73c5eb;
    transition: 0.5s;
}
.block1_container_img img {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
