header {
  background: #023b6d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 100;
}

#header-left {
  padding-left: 10px;
}
#header-left > img {
  height: 25px;
  width: 180px;
}
#header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.fa-solid fa-angle-left,
.fa-solid fa-angle-right {
  color: gray;
}
#header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header-right-logo {
  margin: 0 10px;
}
#header-right-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  height: 100%;
  background-color: #00a6eb;
}
