header {
  height: 32px;
  left: 0;
  right: 0;
  top: 0;
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 1;
}
#header-top {
  background: #023b6d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 100;
}

#header-left {
  padding-left: 10px;
}
#header-left > img {
  height: 25px;
  width: 180px;
}
#header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.fa-solid fa-angle-left,
.fa-solid fa-angle-right {
  color: gray;
}
#header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header-right-DL {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-right-logo {
  margin: 0 10px;
}
#header-right-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  height: 100%;
  background-color: #00a6eb;
}
#header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(40, 58, 90, 0.9);
  color: white;
}
#header-bottom-left {
  margin: 10px 50px 10px 20px;
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
}
#header-bottom-right {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}
#header-bottom-right > a {
  transition: 0.4s;
}
#header-bottom-right > a:first-of-type,
#header-bottom-right > a:hover {
  color: #47b2e4;
}
#header-bottom-right > a:last-of-type {
  border: 2px solid #47b2e4;
  border-radius: 50px;
  padding: 8px 20px;
}
.header-down {
  position: relative;
}
.header-down > span {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 0px;
}
.drop-down,
.drop-down-right {
  display: none;
  position: absolute;
  margin: 0;
  padding: 10px 20px 10px 0px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
  z-index: 99;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  width: 185px;
  height: 200px;
}
.drop-down {
  top: 45px;
  left: 350px;
}
.drop-down a:hover{
  color: #47b2e4;
  transition: 0.3s;
}
.to-drop-down-right:hover {
  color: #47b2e4;
  transition: 0.3s;
}
.drop-down-right {
  width: 180px;
  top: 40px;
  right: 185px;
}
.drop-down li,
.drop-down-right li {
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;

  display: flex;
  justify-content: flex-start;
}
.to-drop-down-right{
  display: flex !important;
  justify-content: space-between !important;
  padding: 10px 0px 10px 20px !important;
}
.header-down:hover ~ .drop-down,
.drop-down:hover {
  display: block;
}
.drop-down > .to-drop-down-right:hover ~ .drop-down-right,
.drop-down-right:hover {
  display: block;
}
.drop-down li:hover {
  color: #47b2e4;
}

